/* styles.css */
body {
  background-color: mintcream;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 80vw;

  #hours-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .weekday {
      margin: 1vh;
    }
  }

  #location-div {
    display: flex;
    flex-direction: column;
    align-items: center;   
    
    p {
      margin: 1vh;
    }
  }

  #pizzas-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pizza {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 5vh;
      margin-bottom: 5vh;

      * {
        margin: 0.5vh;
      }
    }
  }

  #beverages-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .beverage {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin-top: 5vh;
      margin-bottom: 5vh;

      * {
        margin: 0.5vh;
      }
    }
  }

  #contact-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 0.5vh 5vh 0.5vh 5vh;

    }
  }
}

#pizzas-div, #beverages-div {
  width: 20vw;
}
