/* styles.css */
body {
    background-color: mintcream;
  }

#content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 80vw;

  #hours-div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .weekday {
      margin: 1vh;
    }
  }

  #location-div {
    display: flex;
    flex-direction: column;
    align-items: center;   
    
    p {
      margin: 1vh;
    }
  }

  #pizzas-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

  
